#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-image: linear-gradient( 240deg,  rgb(12, 16, 34) 50%, rgb(24, 25, 34) 100% );
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 6px 50px -5px #000000; 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 6px 50px -5px #000000;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: rgb(46, 61, 124);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 50px -15px #000000; 
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 50px -15px #000000;
}

#navbar form button:hover {
    color: rgb(255, 255, 255);
    padding: 0.5rem
}

