* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 90deg,  rgb(8, 10, 19) 50%, rgb(24, 25, 34) 100% );
    color: rgb(53, 52, 138);
}

a {
    text-decoration: none;
    color: rgb(26 33 64);
    transition: 1s;
}


a:hover {
 color:#1C6EA4;
}